body {
  margin: 0;
  padding: 0;
  top: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--red);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --black: #1a1a1d;
  --red: #c3073f;
  --white: #ffffff;
  --gray: #4e4e50;
}

.theme-white {
  color: var(--white); /*#ffcb8b*/
}

.theme-black {
  color: var(--black);
}

.theme-red {
  color: var(--red);
}

.theme-light-orange {
  color: #221f1f;
}

.theme-dark-blue {
  color: var(--red); /*#011627;*/
}

.theme-light-grey {
  color: lightgray;
}

.theme-blue {
  color: #ffffff;
}

.highlight-font {
  font-family: "Montserrat", sans-serif; /*Prompt*/ /*IBM Plex Sans*/
  font-weight: 700;
}

.text-font {
  font-family: "Montserrat", sans-serif; /*Tajawal*/
  font-weight: 200;
}

.text-font-two {
  font-family: "Montserrat", sans-serif; /*Tajawal*/
  font-weight: 500;
}

.company-header {
  margin-top: -20px;
  min-height: 780px;
  max-width: 100%;
  background-color: var(--black);
}

.card-hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-hover:hover {
  transform: scale(1.1);
}

.about-us {
  min-height: 450px;
}

.services {
  min-height: 450px;
  margin-right: 120px;
  margin-left: 120px;
}

.content-text {
  font-size: 20px;
  letter-spacing: 1.5pt;
  margin-right: 150px;
  margin-left: 150px;
}

.project-text {
  font-size: 20px;
}

.card-image-style {
  max-width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}

.technologies {
  min-height: 600px;
}

.tech-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tech-style-two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
  height: 40%;
}

.tech-style-three {
  display: block;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

.tech-style-four {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70%;
}

.tech-part {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 80px;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-image-style-bulb {
  display: block;
  width: 50%;
}

.element-image-style-head {
  padding-top: 220px;
  width: 70%;
  margin-right: 120px;
}

.display-end {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
}

.element-image-style-one {
  display: block;
  position: absolute;
  max-width: 35%;
  padding-top: 298px;
  margin-left: 0px;
}

.element-image-style-two {
  display: block;
  position: absolute;
  max-width: 35%;
  margin-top: 4px;
  margin-left: 986px;
}

.element-sub-image-style {
  display: none;
}

.recent-works {
  min-height: 450px;
  padding-right: 175px;
  padding-left: 175px;
}

.works-image-style {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  padding-right: 120px;
  padding-left: 120px;
}

.footer {
  min-height: 300px;
  background-color: var(--black);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-style {
  margin-top: 45px;
  max-width: 50%;
  height: 2px;
  border-width: 0;
  color: var(--red);
  background-color: var(--red);
  border-color: var(--red);
}

.contact-container {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.centered-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-text-style {
  font-size: 75px;
  padding-top: 220px;
  margin-bottom: 0;
  padding-left: 120px;
}

.sub-company-text {
  font-size: 40px;
  margin-top: 0;
  padding-left: 120px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.company-logo-style {
  width: 60%;
  padding-top: 150px;
  margin-left: 10px;
  display: block;
}

.icon-style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  color: var(--black);
}

.parallax {
  background-image: url("./sample-bg.png");
  height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn-primary {
  color: #ffffff;
  background-color: var(--red);
  border-color: var(--red);
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.rounded-btn {
  border-radius: 50%;
}

.up-arrow {
  padding-top: 50px;
  cursor: pointer;
}

.headHrStyle {
  height: 8px;
  max-width: 60px;
  border-width: 0;
  color: var(--red);
  background-color: var(--red);
}

.contact-us {
  min-height: 450px;
}

@media only screen and (max-width: 1535px) {
  .element-image-style-one {
    display: none;
  }
  .element-image-style-two {
    display: none;
  }
  .element-sub-image-style {
    display: block;
    position: absolute;
    margin-top: 0px;
    width: 12%;
    margin-left: 15px;
    padding-top: 0;
  }
  .company-logo-style {
    display: none;
  }
  #logo-container {
    display: none;
  }
  .element-image-style-bulb {
    display: none;
  }
  .element-image-style-head {
    padding-top: 250px;
    width: 70%;
    margin-right: 120px;
  }

  .tech-part {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .company-text-style {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .sub-company-text {
    font-size: 40px;
    margin-top: 0;
    padding-bottom: 50px;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
  }

  .company-header {
    margin: auto;
    margin-top: -20px;
    min-height: 850px;
    background-color: var(--black);
  }

  .services {
    min-height: 450px;
    margin-right: 60px;
    margin-left: 60px;
  }

  .tech-part {
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 80px;
  }

  .main {
    padding-right: 45px;
    padding-left: 45px;
    background-color: #ffffff;
  }

  .cards-part {
    padding-right: 35px;
    padding-left: 35px;
  }

  .recent-works {
    min-height: 450px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .contact-container {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .company-logo-style {
    display: none;
  }
  #logo-container {
    display: none;
  }
  .element-image-style-bulb {
    display: none;
  }
  .element-image-style-head {
    padding-top: 250px;
    width: 80%;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .company-header {
    margin-top: -150px;
    min-height: 850px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .company-text-style {
    font-size: 48px;
    margin-top: -30px;
    margin-left: -90px;
    margin-bottom: 0;
    justify-self: center;
  }

  .sub-company-text {
    font-size: 30px;
    margin-top: 0;
    margin-left: -90px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
  }

  .tech-part {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 80px;
  }

  #logo-container {
    display: none;
  }
  .company-logo-style {
    display: none;
  }
  .cards-part {
    padding-right: 12px;
    padding-left: 12px;
  }
  .element-image-style-head {
    padding-top: 120px;
    width: 90%;
    margin-right: 20px;
  }
}
